.productsGrid {
  width: min(1400px, 95%);
  margin: 3rem auto;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );

  gap: 2rem;
}

.productsPage {
  width: min(1400px, 95%);
  margin: 0 auto;
}

.pageTitle {
  margin-top: 2rem;
  margin-bottom: 1rem;

  color: white;
  text-align: center;

  font-size: clamp(2rem, 5vw, 3rem);
}

@media (max-width: 900px) {
  .productsGrid {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .productsGrid {
    width: 95%;

    grid-template-columns: 1fr 1fr;

    gap: 1.5rem 0.5rem;
  }
}

@media (max-width: 600px) {
  .productsGrid {
    width: 95%;

    grid-template-columns: 1fr;

    gap: 1rem;

    margin-top: 1.5rem;
  }

}